<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMP Template with sidebar</title>
    <!-- If you're having issues, maybe look at how the CSS/JS files are referenced. We're in the templates dir.-->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
	<script src="../static/js/bundle.js"></script>
</head>
<body>
<header>
	<div id="header">
		<!--
		These are the social buttons to the far right of the screen.
		-->
		<div class="socialButtons">
			<a class="facebook" href="https://www.facebook.com/">f</a>
			<a class="youtube" href="https://www.facebook.com/">a</a>
			<a class="linkedin" href="https://www.facebook.com/">b</a>

		</div>
		<div id="mobileMenuToggle" title="Menu">M</div>
		<a href="/" id="mobileLogo">MobileLogo</a>
		<div id="headerLeft">
			<div id="menuToggle">&equiv;</div>
		</div>
		<div id="headerRight">
		<!--
		These are the navigation buttons to the RIGHT of the Hamburger menu button.
		-->
			<nav>
				<ul>
					<li><a href="/">Home</a>
					<li><a rel="nofollow" href="https://htmlg.com/html-editor/">HTML Editor</a>
					<li><a rel="nofollow" href="https://textfancy.com/">Text Fancy</a>
				</ul>
			</nav>
		</div>
	</div>
</header>
<div id="wrapall">
	<div id="sidebar">
		<div id="stickThis">
			<div id="sidebarContent">
				<!-- Hamburger menu here. This will have to be replaced with a div or something for the filter optiosn. -->
				<a id="logo" href="https://html5-templates.com/">Hamburger Title</a>
				<aside>
					<div>Sidebar 1</div>
					<div>Sidebar 2</div>
					<div>Sidebar 3</div>
					<div>Sidebar 4</div>
					<div>Sidebar 5</div>
					<div>Sidebar 6</div>
					<div>Sidebar 7</div>
					<a class="back2Top" href="#">⮝&nbsp;Back to&nbsp;top&nbsp;⮝</a>
				</aside>
			</div>
		</div>
		<div id="stick-here"></div>
	</div>
	<div id="main">
		<section id="page">
			<main>
				<article>
					<h2>Simple Website Template with Sticky Sidebar</h2>
					<p><strong>We are making a forensics page</strong></p>
					<input type="file" id="files" name="files[]" multiple/>
					<output id="list"></output>
					<div>

					</div>
                </article>
			</main>
			<footer>
				<p>&copy; Gino & Ian  |  Made with <3&nbsp;<a rel="nofollow" href="https://rit.edu/" target="_blank" rel="nofollow">CSEC 741</a></p>
			</footer>
		</section>
	</div>
</div>
</body>
</html>
